.gnutelladocs .accordion-button:not(.collapsed){
    background: var(--bs-dark-bg-subtle);
}

.gnutelladocs .accordion-button:focus{
    box-shadow: none !important;
}

.logo img{
    height:auto;
    width: 2rem;
}

body{ 
    min-height: 100vh; 
    display: grid;
    grid-template-rows:1fr auto;
  }
  
  @media(min-width:576px){
    .gnutelladocs .w-sm-auto{
        width:auto !important;
    }
  }